// Collor pallete
$bg-dark: #262a3f;
$bg-dark2: #171a22;
$bg-light2: #ffffff;
$bg-light: #f3f3f3;
$text-sub: #676e8a;
$violet-color: #749dd6;
$cyan-color: #5eafef;
$green-color: #4acb8a;
$yellow-color: #ffd543;
$orange-color: #ff9349;
$red-color: #f94348;

// Gradients
$gradient: linear-gradient(to right, #f86a32, #e73827);
$hoverMenu: linear-gradient(to right, #76b852, #8dc26f);
$activeMenu: linear-gradient(to right, #00c6ff, #0072ff);

// Font Sizes
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 2.375rem;
$font-xl: 3.25rem;
